In [1]:
import pandas as pd
vine = "vine_table.csv"
vine_df = pd.read_csv(vine, encoding="ISO-8859-1")

In [17]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3DT59XH7HXR9K,5.0,0.0,0.0,N,Y
1,R1LFS11BNASSU8,5.0,0.0,1.0,N,Y
2,R296RT05AG0AF6,5.0,0.0,0.0,N,Y
3,R3V37XDZ7ZCI3L,5.0,0.0,1.0,N,Y
4,R14GU232NQFYX2,5.0,0.0,0.0,N,Y

In [27]:
filter_df = vine_df.loc[vine_df['total_votes'] >= 20]
filter_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [33]:
filter_df2 = filter_df.loc[filter_df["helpful_votes"]/filter_df["total_votes"] >.5]
print(filter_df2)

              review_id  star_rating  helpful_votes  total_votes vine  \
18       R28RB82UG4RDD5          5.0           20.0         20.0    N
233      R3FB6BERWPEIJP          4.0           40.0         43.0    N
615      R1D4Z38STRDQXK          5.0           53.0         56.0    N
1065     R1XMWJZICINIFX          3.0           20.0         21.0    N
1105     R20QKY1GABXFLM          1.0          272.0        297.0    N
...                 ...          ...            ...          ...  ...
4880460  R2SLX958DGMAIG          4.0           21.0         21.0    N
4880461  R22DLC2P26MUMR          4.0           30.0         41.0    N
4880462  R1N6KLTENLQOMT          5.0           84.0         92.0    N
4880463  R10TW4QXDV8KJC          4.0           55.0         60.0    N
4880464   R41RL2U1FSQ4V          4.0           30.0         42.0    N

        verified_purchase  percent_helpful
18                      Y         1.000000
233                     Y         0.930233
615                     Y         0.946429
1065                    Y         0.952381
1105                    Y         0.915825
...                   ...              ...
4880460                 Y         1.000000
4880461                 N         0.731707
4880462                 N         0.913043
4880463                 N         0.916667
4880464                 N         0.714286

[98763 rows x 7 columns]

In [36]:
df_vine_user = filter_df2.loc[filter_df2['vine'] == 'Y']
df_vine_user.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful
13470,R1Z71RW4J9IK93,5.0,20.0,22.0,Y,N,0.909091
18140,R3FVB5QI11KI9Q,4.0,192.0,200.0,Y,N,0.960000
20156,R2G027YBMVXV6Y,5.0,39.0,48.0,Y,N,0.812500
26393,R1QGBAN7BMGWRR,5.0,121.0,129.0,Y,N,0.937984
28369,R2NH2AU7XL9ZDZ,3.0,18.0,20.0,Y,N,0.900000

In [37]:
df_non_vine_user = filter_df2.loc[filter_df2['vine'] == 'N']
df_non_vine_user.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y,1.000000
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y,0.930233
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y,0.946429
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y,0.952381
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y,0.915825

In [55]:
df_vine_user['review_id'].count()

1205

In [56]:
df_non_vine_user['review_id'].count()

97558

In [58]:
five_star_vine_user = (df_vine_user.loc[df_vine_user["star_rating"]==5])
print(five_star_vine_user['review_id'].count())

509

In [59]:
five_star_non_vine_user = (df_non_vine_user.loc[df_non_vine_user["star_rating"]==5])
print(five_star_non_vine_user['review_id'].count())

45833

In [52]:
percent_five_star_vine = five_star_vine_user['review_id'].count()/df_vine_user['review_id'].count()
print(percent_five_star_vine)

0.4224066390041494

In [53]:
percent_five_star_non_vine = five_star_non_vine_user['review_id'].count()/df_non_vine_user['review_id'].count()
print(percent_five_star_non_vine)

0.46980257897865885